@use "sass:math";
@use "sass:list";
@use "sass:meta";

@function box-shadow($stars) {
  $bxshadow: ();
  @for $i from 1 to $stars {
    $bxshadow: list.append($bxshadow, (math.random(2000) + 0px) (math.random(2000) + 0px) #fff, comma);
  }

  @if meta.type-of($bxshadow) == "string" {
    $bxshadow: unquote($bxshadow);
  }

  @return $bxshadow;
}
