@use 'weather-data/main-weather' as *;
@use 'weather-data/current-conditions' as *;
@use 'weather-data/tab-set' as *;
@use 'weather-data/forecast' as *;

.weather-data {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;

	.weather-overview {
	  height: 115px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
