@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
@keyframes stars {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes snow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    background-position: 0 2000px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(0, 480px, 0);
  }
  100% {
    transform: translate3d(0, 480px, 0);
  }
}
@keyframes move-fog {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 600px 0;
  }
}
@keyframes move-clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1600px 0;
  }
}
@keyframes move-thunderstorm {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes move-cloud {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(200%, 0, 0);
  }
}
.scene.scene-1 .mountain-1 svg {
  left: -70px;
}
.scene.scene-1 .mountain-2 svg {
  left: 0;
}
.scene.scene-1 .mountain-3 svg {
  left: 0;
}
.scene.scene-1 .mountain-4 svg {
  left: 0;
}
.scene.scene-1 .mountain-5 svg {
  left: 0;
}
.scene.scene-1 .trees svg {
  left: 0;
}

.scene.scene-2 .mountain-1 svg {
  left: 0;
}
.scene.scene-2 .mountain-2 svg {
  left: -50px;
}
.scene.scene-2 .mountain-3 svg {
  left: -100px;
}
.scene.scene-2 .mountain-4 svg {
  left: -80px;
}
.scene.scene-2 .mountain-5 svg {
  left: -20px;
}
.scene.scene-2 .trees svg {
  left: -80px;
  bottom: 0;
}

.scene.scene-3 .mountain-1 svg {
  left: -70px;
}
.scene.scene-3 .mountain-2 svg {
  left: -115px;
  bottom: -15px;
}
.scene.scene-3 .mountain-3 svg {
  left: -25px;
  bottom: -20px;
}
.scene.scene-3 .mountain-4 svg {
  left: -70px;
  bottom: -12px;
}
.scene.scene-3 .mountain-5 svg {
  left: 0;
  bottom: -2px;
}
.scene.scene-3 .trees svg {
  left: -100px;
  bottom: 0;
}

.scene.scene-4 .mountain-1 svg {
  left: -50px;
}
.scene.scene-4 .mountain-2 svg {
  left: -40px;
}
.scene.scene-4 .mountain-3 svg {
  left: -50px;
}
.scene.scene-4 .mountain-4 svg {
  left: -60px;
}
.scene.scene-4 .mountain-5 svg {
  left: -10px;
}
.scene.scene-4 .trees svg {
  left: -100px;
}

.scene.scene-5 .mountain-1 svg {
  left: -90px;
  width: 600px;
  height: 140px;
}
.scene.scene-5 .mountain-2 svg {
  left: 0;
  width: 600px;
  height: 149px;
  bottom: -30px;
}
.scene.scene-5 .mountain-3 svg {
  left: -55px;
  width: 600px;
  height: 165px;
  bottom: -50px;
}
.scene.scene-5 .mountain-4 svg {
  left: -50px;
  width: 600px;
  bottom: -12px;
}
.scene.scene-5 .mountain-5 svg {
  left: -100px;
  width: 600px;
  bottom: 0;
}
.scene.scene-5 .trees svg {
  left: 0;
  bottom: 0;
}

.scene.scene-6 .mountain-1 svg {
  left: -250px;
  width: 800px;
  height: 170px;
  bottom: 20px;
}
.scene.scene-6 .mountain-2 svg {
  left: -200px;
  width: 800px;
  height: 200px;
  bottom: -70px;
}
.scene.scene-6 .mountain-3 svg {
  left: -200px;
  width: 800px;
  height: 220px;
  bottom: -100px;
}
.scene.scene-6 .mountain-4 svg {
  left: -50px;
  width: 800px;
  height: 229px;
  bottom: -100px;
}
.scene.scene-6 .mountain-5 svg {
  left: -300px;
  width: 800px;
  height: 244px;
  bottom: -110px;
}
.scene.scene-6 .trees svg {
  left: -100px;
  width: 800px;
  height: 164px;
  bottom: -25px;
}

.scene.scene-7 .mountain-1 svg {
  left: -250px;
  width: 800px;
  height: 170px;
}
.scene.scene-7 .mountain-2 svg {
  left: -400px;
  width: 800px;
  height: 200px;
  bottom: -90px;
}
.scene.scene-7 .mountain-3 svg {
  left: -500px;
  width: 800px;
  height: 220px;

  bottom: -120px;

  bottom: -110px;

}
.scene.scene-7 .mountain-4 svg {
  left: -300px;
  width: 800px;
  height: 229px;
  bottom: -114px;
}
.scene.scene-7 .mountain-5 svg {
  left: -500px;
  width: 800px;
  height: 244px;
  bottom: -120px;
}
.scene.scene-7 .trees svg {
  left: -500px;
  width: 800px;
  height: 164px;
  bottom: -25px;
}

.scene.scene-8 .mountain-1 svg {
  left: -30px;
}
.scene.scene-8 .mountain-2 svg {
  left: -65px;
  bottom: 0px;
}
.scene.scene-8 .mountain-3 svg {
  left: -75px;
  bottom: -15px;
}
.scene.scene-8 .mountain-4 svg {
  left: -100px;
  bottom: -10px;
}
.scene.scene-8 .mountain-5 svg {
  left: -25px;
  bottom: -5px;
}
.scene.scene-8 .trees svg {
  left: -50px;
  bottom: -20px;
}

.scene.scene-9 .mountain-1 svg {
  left: -45px;
}
.scene.scene-9 .mountain-2 svg {
  left: -50px;
}
.scene.scene-9 .mountain-3 svg {
  left: -60px;
}
.scene.scene-9 .mountain-4 svg {
  left: -60px;
  bottom: -10px;
}
.scene.scene-9 .mountain-5 svg {
  left: 0;
  bottom: 0;
}
.scene.scene-9 .trees svg {
  left: 0;
}

.scene.scene-10 .mountain-1 svg {
  left: -50px;
  bottom: 10px;
}
.scene.scene-10 .mountain-2 svg {
  left: -40px;
}
.scene.scene-10 .mountain-3 svg {
  left: -50px;
}
.scene.scene-10 .mountain-4 svg {
  left: -20px;
  bottom: 5px;
}
.scene.scene-10 .mountain-5 svg {
  left: -80px;
  bottom: 0px;
}
.scene.scene-10 .trees svg {
  left: -25px;
}

.scene {
  transform: translateZ(0);
}
.scene .menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.scene .menu-toggle span {
  width: 18px;
  height: 2px;
  display: block;
  background-color: #333;
  margin: 3px 0;
}
.scene .mountain-1 svg {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 102px;
  z-index: 9;
}
.scene .mountain-2 svg {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 100px;
  z-index: 8;
}
.scene .mountain-3 svg {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 110px;
  z-index: 7;
}
.scene .mountain-4 svg {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 116px;
  z-index: 6;
}
.scene .mountain-5 svg {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 125px;
  z-index: 5;
}
.scene .sky {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transform: translateZ(0);
}
.scene .starry-sky {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: transparent;
  transform: translateZ(0);
}
.scene .starry-sky .stars.large {
  height: 2px;
  width: 2px;
  background: transparent;
  box-shadow: 451px 328px #fff, 856px 646px #fff, 128px 1465px #fff, 1618px 568px #fff, 1165px 894px #fff, 1596px 260px #fff, 1580px 1670px #fff, 1180px 169px #fff, 663px 80px #fff, 1293px 579px #fff, 394px 1457px #fff, 597px 569px #fff, 858px 159px #fff, 1479px 1441px #fff, 839px 1615px #fff, 730px 768px #fff, 433px 304px #fff, 1126px 651px #fff, 1856px 807px #fff, 1748px 1189px #fff, 262px 140px #fff, 551px 885px #fff, 1873px 477px #fff, 719px 364px #fff, 693px 1295px #fff, 1797px 376px #fff, 1609px 319px #fff, 689px 866px #fff, 908px 850px #fff, 1858px 292px #fff, 188px 94px #fff, 159px 1896px #fff, 260px 1581px #fff, 1335px 1090px #fff, 1160px 60px #fff, 9px 272px #fff, 856px 1466px #fff, 1509px 1131px #fff, 1620px 506px #fff, 1015px 637px #fff, 1124px 1841px #fff, 397px 1402px #fff, 1258px 363px #fff, 1479px 1190px #fff, 1203px 1635px #fff, 1925px 1500px #fff, 164px 1098px #fff, 1820px 302px #fff, 1918px 1429px #fff, 1894px 1010px #fff, 1545px 1314px #fff, 40px 158px #fff, 1325px 69px #fff, 186px 1617px #fff, 1561px 920px #fff, 1681px 113px #fff, 1194px 718px #fff, 1203px 1168px #fff, 939px 1237px #fff, 1453px 1832px #fff, 767px 716px #fff, 636px 480px #fff, 393px 1828px #fff, 1759px 1640px #fff, 467px 106px #fff, 1870px 796px #fff, 1645px 1871px #fff, 599px 305px #fff, 307px 1087px #fff, 4px 885px #fff, 298px 1860px #fff, 1896px 1874px #fff, 4px 1667px #fff, 1694px 1363px #fff, 456px 1720px #fff, 307px 240px #fff, 1655px 665px #fff, 1184px 1260px #fff, 365px 247px #fff, 1741px 883px #fff, 1199px 125px #fff, 965px 1717px #fff, 1889px 1792px #fff, 694px 1070px #fff, 614px 1510px #fff, 1282px 1421px #fff, 1496px 925px #fff, 949px 1280px #fff, 515px 43px #fff, 1320px 855px #fff, 619px 688px #fff, 195px 409px #fff, 579px 1134px #fff, 1221px 1277px #fff, 1776px 811px #fff, 548px 706px #fff, 1954px 478px #fff, 1150px 309px #fff, 1635px 1279px #fff, 829px 1014px #fff, 1069px 608px #fff, 1308px 785px #fff, 1020px 1128px #fff, 1604px 1014px #fff, 1532px 1824px #fff, 1046px 1478px #fff, 1707px 837px #fff, 1144px 1677px #fff, 1015px 769px #fff, 1000px 131px #fff, 636px 308px #fff, 1911px 1194px #fff, 1224px 186px #fff, 1543px 1819px #fff, 864px 1446px #fff, 1813px 1271px #fff, 1405px 1187px #fff, 1065px 1743px #fff, 1188px 366px #fff, 1830px 1831px #fff, 154px 207px #fff, 1248px 1428px #fff, 1473px 854px #fff, 363px 1410px #fff, 1119px 130px #fff, 732px 1899px #fff, 481px 1279px #fff, 1040px 221px #fff, 1118px 1614px #fff, 1442px 1951px #fff, 1487px 237px #fff, 1550px 1256px #fff, 767px 538px #fff, 1112px 1905px #fff, 1379px 1743px #fff, 37px 1964px #fff, 1681px 491px #fff, 1810px 1474px #fff, 1871px 858px #fff, 1429px 486px #fff, 1142px 896px #fff, 731px 1052px #fff, 1041px 122px #fff, 1930px 1908px #fff, 1009px 1688px #fff, 1449px 1747px #fff, 532px 79px #fff, 963px 873px #fff, 526px 928px #fff, 1058px 538px #fff, 707px 12px #fff, 1872px 1095px #fff, 941px 1991px #fff, 470px 1017px #fff, 1852px 955px #fff, 1963px 1510px #fff, 1713px 389px #fff, 1464px 102px #fff, 1899px 1086px #fff, 1284px 1169px #fff, 34px 1464px #fff, 982px 1364px #fff, 1498px 1594px #fff, 1051px 193px #fff, 1238px 1787px #fff, 772px 169px #fff, 383px 1044px #fff, 895px 278px #fff, 1157px 85px #fff, 381px 363px #fff, 226px 1396px #fff, 272px 818px #fff, 1404px 101px #fff, 1845px 1442px #fff, 1794px 679px #fff, 886px 620px #fff, 1842px 600px #fff, 1051px 924px #fff, 1870px 89px #fff, 437px 379px #fff, 871px 1338px #fff, 488px 1772px #fff, 1128px 1669px #fff, 1241px 813px #fff, 435px 1531px #fff, 157px 740px #fff, 120px 1068px #fff, 404px 1082px #fff, 1516px 1429px #fff, 1123px 385px #fff, 121px 1979px #fff, 481px 222px #fff, 1118px 138px #fff, 1472px 274px #fff, 1035px 160px #fff, 1624px 69px #fff, 1954px 1197px #fff, 1779px 783px #fff, 747px 1009px #fff, 740px 431px #fff, 982px 1816px #fff, 653px 97px #fff, 213px 302px #fff, 1156px 361px #fff, 1692px 1529px #fff, 896px 914px #fff, 240px 279px #fff, 889px 1217px #fff, 1234px 1459px #fff, 1364px 1235px #fff, 436px 1450px #fff, 1409px 1279px #fff, 681px 1150px #fff, 476px 1372px #fff, 590px 473px #fff, 197px 1499px #fff, 847px 808px #fff, 1063px 1222px #fff, 1873px 518px #fff, 411px 1125px #fff, 261px 1216px #fff, 419px 21px #fff, 412px 655px #fff, 1197px 236px #fff, 1937px 798px #fff, 1350px 15px #fff, 76px 888px #fff, 88px 807px #fff, 1422px 1158px #fff, 360px 1065px #fff, 484px 446px #fff, 1077px 1940px #fff, 1770px 1691px #fff, 1135px 1260px #fff, 1775px 953px #fff, 921px 994px #fff, 38px 801px #fff, 1944px 59px #fff, 207px 135px #fff, 424px 879px #fff, 411px 1904px #fff, 1931px 249px #fff, 1748px 594px #fff, 1972px 64px #fff, 1754px 110px #fff, 1418px 884px #fff, 1820px 1759px #fff, 1619px 613px #fff, 1592px 487px #fff, 625px 794px #fff, 42px 738px #fff, 259px 766px #fff, 52px 182px #fff, 205px 1613px #fff, 1279px 33px #fff, 1346px 185px #fff, 1458px 248px #fff, 619px 173px #fff, 451px 740px #fff, 1619px 883px #fff, 1542px 1027px #fff, 752px 245px #fff, 1238px 1664px #fff, 1615px 535px #fff, 721px 656px #fff, 1318px 1728px #fff, 1620px 1004px #fff, 1183px 1767px #fff, 497px 130px #fff, 753px 887px #fff, 1035px 602px #fff, 1845px 427px #fff, 1589px 1006px #fff, 1575px 281px #fff, 418px 1845px #fff, 306px 1981px #fff, 913px 1172px #fff, 83px 882px #fff, 1910px 732px #fff, 1698px 287px #fff, 1499px 1109px #fff, 1519px 1494px #fff, 1773px 1179px #fff, 1245px 1154px #fff, 309px 1512px #fff, 1181px 468px #fff, 1104px 585px #fff, 1522px 1113px #fff, 1933px 1231px #fff, 1020px 1586px #fff, 1579px 889px #fff, 1484px 1621px #fff, 1246px 1209px #fff, 1039px 563px #fff, 635px 158px #fff, 573px 766px #fff, 1987px 1749px #fff, 1045px 1143px #fff, 181px 1380px #fff;
  animation: stars 21s infinite;
  opacity: 0.75;
  transform: translateZ(0);
}
.scene .starry-sky .stars.medium {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: 670px 647px #fff, 801px 1846px #fff, 1182px 889px #fff, 68px 1349px #fff, 573px 1452px #fff, 26px 288px #fff, 1202px 484px #fff, 1718px 1958px #fff, 1852px 1636px #fff, 353px 1838px #fff, 672px 345px #fff, 363px 1753px #fff, 451px 1538px #fff, 1129px 819px #fff, 1596px 469px #fff, 1578px 1689px #fff, 1328px 1925px #fff, 331px 117px #fff, 952px 1374px #fff, 1006px 1743px #fff, 1403px 1600px #fff, 1943px 435px #fff, 1138px 1809px #fff, 1268px 1740px #fff, 1646px 338px #fff, 1015px 557px #fff, 1851px 758px #fff, 722px 1613px #fff, 1117px 1048px #fff, 288px 1392px #fff, 991px 1301px #fff, 1731px 534px #fff, 922px 651px #fff, 1324px 469px #fff, 1869px 730px #fff, 409px 174px #fff, 1423px 129px #fff, 1857px 1747px #fff, 869px 1654px #fff, 884px 1632px #fff, 1510px 1072px #fff, 6px 1738px #fff, 1113px 1640px #fff, 1067px 1866px #fff, 1782px 219px #fff, 1398px 1486px #fff, 278px 1350px #fff, 1590px 888px #fff, 767px 766px #fff, 368px 932px #fff, 1815px 649px #fff, 529px 1306px #fff, 1105px 1176px #fff, 1934px 1934px #fff, 833px 1187px #fff, 1606px 915px #fff, 1125px 1340px #fff, 330px 1291px #fff, 267px 1335px #fff, 1643px 771px #fff, 1596px 499px #fff, 416px 1492px #fff, 601px 13px #fff, 699px 1555px #fff, 457px 100px #fff, 142px 931px #fff, 663px 639px #fff, 549px 973px #fff, 478px 1486px #fff, 895px 1630px #fff, 223px 697px #fff, 1472px 1369px #fff, 1706px 957px #fff, 2000px 1797px #fff, 1290px 615px #fff, 120px 666px #fff, 1050px 521px #fff, 1004px 390px #fff, 971px 1392px #fff, 1268px 144px #fff, 1950px 1317px #fff, 1889px 1135px #fff, 1003px 741px #fff, 390px 1080px #fff, 1978px 793px #fff, 313px 1756px #fff, 997px 1596px #fff, 428px 90px #fff, 118px 146px #fff, 1706px 82px #fff, 1841px 1112px #fff, 449px 1564px #fff, 314px 1409px #fff, 1501px 1600px #fff, 141px 41px #fff, 548px 1039px #fff, 1487px 7px #fff, 1296px 859px #fff, 1683px 1447px #fff, 892px 1972px #fff, 1896px 1461px #fff, 1453px 1763px #fff, 1823px 917px #fff, 753px 1659px #fff, 496px 1710px #fff, 1065px 314px #fff, 1918px 1059px #fff, 263px 1600px #fff, 1200px 127px #fff, 934px 409px #fff, 1259px 1089px #fff, 1566px 1613px #fff, 435px 584px #fff, 1930px 216px #fff, 1769px 1621px #fff, 68px 650px #fff, 267px 939px #fff, 1598px 1242px #fff, 562px 1023px #fff, 1211px 312px #fff, 592px 852px #fff, 1247px 1034px #fff, 1764px 396px #fff, 1050px 1656px #fff, 949px 1715px #fff, 606px 934px #fff, 1547px 64px #fff, 648px 1968px #fff, 497px 473px #fff, 1206px 748px #fff, 1911px 1606px #fff, 811px 829px #fff, 1765px 999px #fff, 798px 1049px #fff, 1737px 1042px #fff, 1488px 562px #fff, 575px 1360px #fff, 948px 1900px #fff, 1738px 977px #fff, 1535px 23px #fff, 333px 663px #fff, 1382px 27px #fff, 671px 339px #fff, 1115px 1385px #fff, 1339px 695px #fff, 969px 954px #fff, 1488px 1830px #fff, 1947px 1105px #fff, 1725px 1019px #fff, 1544px 909px #fff, 812px 1346px #fff, 110px 1615px #fff, 122px 675px #fff, 1058px 735px #fff, 111px 1110px #fff, 1016px 1741px #fff, 837px 172px #fff, 1867px 1693px #fff, 1257px 371px #fff, 1045px 1804px #fff, 174px 516px #fff, 1772px 1976px #fff, 100px 950px #fff, 1108px 513px #fff, 1609px 983px #fff, 1667px 1393px #fff, 955px 50px #fff, 1093px 748px #fff, 1523px 86px #fff, 1487px 566px #fff, 1623px 992px #fff, 669px 972px #fff, 287px 1491px #fff, 1289px 1542px #fff, 1695px 552px #fff, 1810px 781px #fff, 125px 1149px #fff, 855px 1926px #fff, 1007px 1421px #fff, 429px 1883px #fff, 329px 1017px #fff, 1617px 605px #fff, 579px 1726px #fff, 1580px 654px #fff, 1856px 1303px #fff, 1586px 1281px #fff, 889px 507px #fff, 1959px 191px #fff, 1206px 173px #fff, 1301px 1288px #fff, 804px 1188px #fff, 174px 314px #fff, 1061px 1806px #fff, 384px 255px #fff, 1127px 823px #fff, 1558px 1083px #fff, 835px 1102px #fff, 1293px 1135px #fff, 1562px 287px #fff, 938px 1523px #fff, 1255px 681px #fff, 396px 1785px #fff, 960px 1222px #fff, 1319px 891px #fff, 1768px 106px #fff, 255px 1942px #fff, 435px 1448px #fff, 1832px 869px #fff, 1669px 1877px #fff, 1531px 39px #fff, 277px 1732px #fff, 171px 1076px #fff, 1654px 1831px #fff, 988px 343px #fff, 848px 1649px #fff, 631px 1617px #fff, 1501px 1806px #fff, 296px 1978px #fff, 1246px 440px #fff, 1490px 788px #fff, 104px 71px #fff, 1258px 1097px #fff, 1674px 522px #fff, 933px 564px #fff, 1927px 817px #fff, 1414px 457px #fff, 84px 1449px #fff, 1120px 1336px #fff, 1504px 944px #fff, 804px 953px #fff, 645px 506px #fff, 1019px 1869px #fff, 342px 891px #fff, 620px 1638px #fff, 979px 352px #fff, 1917px 349px #fff, 1301px 1205px #fff, 341px 1909px #fff, 1420px 1757px #fff, 1034px 1434px #fff, 635px 1065px #fff, 292px 881px #fff, 1418px 1352px #fff, 1362px 1392px #fff, 60px 1726px #fff, 1818px 1091px #fff, 1034px 5px #fff, 1224px 305px #fff, 1486px 2px #fff, 1907px 566px #fff, 1033px 633px #fff, 847px 1211px #fff, 459px 887px #fff, 1575px 795px #fff, 1091px 823px #fff, 507px 52px #fff, 354px 210px #fff, 1605px 1252px #fff, 142px 1654px #fff, 404px 1349px #fff, 136px 964px #fff, 378px 1571px #fff, 1192px 323px #fff, 1789px 1995px #fff, 1551px 336px #fff, 1658px 1077px #fff, 759px 1936px #fff, 1473px 1462px #fff, 1775px 610px #fff, 1717px 1042px #fff, 776px 947px #fff, 1216px 1424px #fff, 1870px 735px #fff, 1333px 42px #fff, 1911px 459px #fff, 1208px 1125px #fff, 92px 1190px #fff, 1624px 1094px #fff, 221px 1028px #fff, 917px 567px #fff, 1175px 999px #fff, 83px 371px #fff, 691px 24px #fff, 264px 834px #fff, 156px 557px #fff, 1827px 271px #fff, 1314px 579px #fff, 545px 1416px #fff, 1292px 1514px #fff, 435px 219px #fff, 797px 309px #fff, 1387px 181px #fff, 348px 166px #fff, 682px 1976px #fff, 1031px 387px #fff, 187px 1098px #fff, 1986px 1629px #fff, 1566px 1528px #fff, 256px 1209px #fff, 772px 324px #fff, 230px 311px #fff, 261px 25px #fff, 1619px 1583px #fff, 1023px 582px #fff, 1148px 218px #fff, 1754px 1425px #fff, 272px 256px #fff, 1775px 1127px #fff, 1809px 1591px #fff, 1362px 368px #fff, 768px 631px #fff, 621px 1315px #fff, 598px 1730px #fff, 417px 1708px #fff, 1499px 340px #fff, 1450px 723px #fff, 888px 1859px #fff, 7px 1467px #fff, 1792px 10px #fff, 1029px 146px #fff, 606px 293px #fff, 1461px 448px #fff, 1335px 1405px #fff, 1729px 1796px #fff, 105px 1551px #fff, 379px 64px #fff, 1896px 808px #fff, 855px 102px #fff, 773px 496px #fff, 1950px 568px #fff, 1547px 113px #fff, 1251px 1080px #fff, 433px 510px #fff, 1438px 1000px #fff, 1102px 1878px #fff, 1012px 846px #fff, 1130px 755px #fff, 320px 676px #fff, 585px 87px #fff, 1888px 897px #fff, 238px 1359px #fff, 1412px 1147px #fff, 734px 1722px #fff, 531px 634px #fff, 643px 1365px #fff, 1967px 1509px #fff, 325px 1559px #fff, 1803px 1592px #fff, 628px 177px #fff, 1307px 528px #fff, 1567px 1632px #fff, 879px 1877px #fff, 84px 507px #fff, 1318px 1636px #fff, 167px 806px #fff, 1480px 1215px #fff, 750px 325px #fff, 754px 392px #fff, 120px 1361px #fff, 727px 152px #fff, 472px 1192px #fff, 1709px 1279px #fff, 1405px 575px #fff, 680px 105px #fff, 323px 988px #fff, 856px 1575px #fff, 1495px 815px #fff, 523px 1849px #fff, 199px 440px #fff, 1960px 704px #fff, 1639px 1013px #fff, 1299px 1608px #fff, 583px 908px #fff, 1268px 1113px #fff, 1427px 1526px #fff, 96px 595px #fff, 873px 997px #fff, 1187px 1057px #fff, 1148px 749px #fff, 359px 2000px #fff, 416px 1454px #fff, 125px 428px #fff, 1499px 1186px #fff, 862px 246px #fff, 1058px 1399px #fff, 50px 1874px #fff, 111px 133px #fff, 1369px 259px #fff, 1051px 1793px #fff, 710px 1592px #fff, 1769px 654px #fff, 1481px 1333px #fff, 1679px 41px #fff, 131px 1326px #fff, 1934px 1030px #fff, 1338px 766px #fff, 1642px 465px #fff, 1011px 1584px #fff, 1925px 1683px #fff, 982px 721px #fff, 920px 212px #fff, 1773px 142px #fff, 1912px 905px #fff, 493px 829px #fff, 1341px 200px #fff, 247px 1970px #fff, 1642px 396px #fff, 1433px 1103px #fff, 109px 291px #fff, 1899px 1978px #fff, 374px 1768px #fff, 1996px 1739px #fff, 818px 476px #fff, 1123px 1224px #fff, 1048px 1037px #fff, 359px 400px #fff, 1970px 379px #fff, 358px 1866px #fff, 1912px 664px #fff, 494px 1129px #fff, 770px 1188px #fff, 1132px 584px #fff, 635px 1259px #fff, 718px 1526px #fff, 705px 1389px #fff, 1659px 1824px #fff, 1311px 908px #fff, 1518px 925px #fff, 415px 1028px #fff, 1322px 797px #fff, 1972px 209px #fff, 447px 295px #fff, 1322px 480px #fff, 706px 1361px #fff, 374px 1858px #fff, 1041px 1021px #fff, 370px 229px #fff, 1413px 1312px #fff, 1139px 762px #fff, 741px 864px #fff, 1593px 314px #fff, 1027px 815px #fff, 1322px 1367px #fff, 968px 60px #fff, 1141px 1396px #fff, 1584px 352px #fff, 1908px 1504px #fff, 807px 1426px #fff, 985px 630px #fff, 1901px 850px #fff, 288px 835px #fff, 554px 1990px #fff, 1686px 1197px #fff, 1972px 552px #fff, 1988px 357px #fff, 2000px 449px #fff, 1045px 1013px #fff, 1026px 1845px #fff, 1369px 58px #fff, 1328px 863px #fff, 1574px 133px #fff, 403px 1865px #fff, 477px 1410px #fff, 1606px 498px #fff, 1684px 477px #fff, 965px 542px #fff, 320px 1330px #fff, 1936px 831px #fff, 480px 1866px #fff, 1364px 1501px #fff, 1049px 613px #fff, 1542px 430px #fff, 887px 1074px #fff, 1614px 1523px #fff, 1682px 175px #fff, 1672px 49px #fff, 1559px 1307px #fff, 452px 1105px #fff, 1215px 981px #fff, 1907px 1886px #fff, 678px 1286px #fff, 83px 1569px #fff, 1888px 458px #fff, 599px 1690px #fff, 691px 1931px #fff, 1394px 625px #fff, 1817px 1214px #fff, 397px 1150px #fff, 846px 301px #fff, 1140px 963px #fff, 870px 270px #fff, 408px 672px #fff, 662px 333px #fff, 401px 1596px #fff, 1295px 1350px #fff, 453px 1138px #fff, 358px 197px #fff, 869px 1777px #fff, 755px 1532px #fff;
  animation: stars 13s infinite;
  transform: translateZ(0);
}
.scene .starry-sky .stars.small {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: 165px 210px #fff, 1491px 1452px #fff, 622px 32px #fff, 1010px 1561px #fff, 671px 1323px #fff, 174px 670px #fff, 395px 672px #fff, 210px 1768px #fff, 1409px 169px #fff, 1498px 1292px #fff, 1579px 238px #fff, 970px 26px #fff, 198px 597px #fff, 685px 174px #fff, 308px 659px #fff, 862px 410px #fff, 922px 327px #fff, 353px 94px #fff, 1200px 263px #fff, 4px 1157px #fff, 1884px 1411px #fff, 1466px 723px #fff, 697px 323px #fff, 209px 1329px #fff, 424px 1336px #fff, 373px 966px #fff, 516px 682px #fff, 884px 1125px #fff, 265px 906px #fff, 1679px 336px #fff, 1748px 151px #fff, 704px 302px #fff, 111px 82px #fff, 1670px 1342px #fff, 1751px 1729px #fff, 561px 1094px #fff, 300px 927px #fff, 1450px 699px #fff, 1985px 1248px #fff, 855px 1367px #fff, 1106px 386px #fff, 1249px 1356px #fff, 1998px 514px #fff, 1355px 1146px #fff, 1033px 471px #fff, 762px 1173px #fff, 131px 137px #fff, 1538px 1782px #fff, 1197px 1464px #fff, 1607px 114px #fff, 1940px 408px #fff, 409px 1799px #fff, 930px 190px #fff, 1849px 1346px #fff, 1528px 1291px #fff, 1872px 872px #fff, 1354px 410px #fff, 1848px 880px #fff, 1358px 1281px #fff, 1922px 241px #fff, 902px 1647px #fff, 768px 1091px #fff, 337px 1707px #fff, 689px 1982px #fff, 67px 679px #fff, 978px 1964px #fff, 1133px 1722px #fff, 121px 35px #fff, 58px 1527px #fff, 1038px 1186px #fff, 1190px 766px #fff, 571px 104px #fff, 206px 1869px #fff, 75px 1115px #fff, 1574px 1483px #fff, 1309px 759px #fff, 1330px 400px #fff, 556px 485px #fff, 1124px 635px #fff, 950px 367px #fff, 1746px 197px #fff, 85px 1864px #fff, 963px 480px #fff, 442px 1725px #fff, 1702px 658px #fff, 526px 584px #fff, 153px 1169px #fff, 441px 1539px #fff, 280px 1883px #fff, 1272px 1002px #fff, 600px 574px #fff, 1613px 528px #fff, 1545px 140px #fff, 1373px 844px #fff, 682px 503px #fff, 1992px 1034px #fff, 1538px 1407px #fff, 1945px 1882px #fff, 785px 1362px #fff, 1611px 1720px #fff, 667px 15px #fff, 413px 781px #fff, 398px 406px #fff, 622px 1520px #fff, 1123px 1992px #fff, 1043px 590px #fff, 255px 448px #fff, 1864px 226px #fff, 443px 1945px #fff, 19px 201px #fff, 306px 539px #fff, 558px 977px #fff, 699px 318px #fff, 1468px 282px #fff, 1437px 276px #fff, 1311px 166px #fff, 1689px 1723px #fff, 1974px 567px #fff, 838px 1724px #fff, 1316px 787px #fff, 756px 751px #fff, 1846px 1306px #fff, 622px 610px #fff, 10px 1883px #fff, 55px 250px #fff, 1234px 1392px #fff, 136px 1651px #fff, 430px 1197px #fff, 1950px 1063px #fff, 503px 44px #fff, 1218px 1029px #fff, 1273px 1589px #fff, 1689px 16px #fff, 883px 344px #fff, 41px 1930px #fff, 1787px 1687px #fff, 170px 549px #fff, 797px 45px #fff, 497px 1921px #fff, 1064px 1148px #fff, 944px 763px #fff, 1871px 1090px #fff, 1494px 197px #fff, 45px 1658px #fff, 1153px 87px #fff, 67px 265px #fff, 337px 97px #fff, 1227px 896px #fff, 252px 40px #fff, 330px 345px #fff, 763px 213px #fff, 1387px 468px #fff, 492px 268px #fff, 471px 81px #fff, 1348px 503px #fff, 1178px 909px #fff, 1549px 545px #fff, 104px 833px #fff, 184px 1880px #fff, 1618px 1247px #fff, 1708px 1046px #fff, 737px 265px #fff, 1449px 401px #fff, 1361px 316px #fff, 1845px 1726px #fff, 41px 1221px #fff, 996px 1839px #fff, 1634px 1394px #fff, 167px 1554px #fff, 1757px 1814px #fff, 1271px 68px #fff, 618px 229px #fff, 633px 1359px #fff, 805px 1862px #fff, 404px 1978px #fff, 105px 1711px #fff, 1097px 1678px #fff, 543px 305px #fff, 755px 908px #fff, 1924px 297px #fff, 271px 322px #fff, 1673px 1859px #fff, 1049px 112px #fff, 442px 1123px #fff, 1852px 1840px #fff, 1048px 471px #fff, 1795px 345px #fff, 1171px 424px #fff, 1767px 1351px #fff, 1513px 617px #fff, 1090px 288px #fff, 856px 37px #fff, 962px 1473px #fff, 1410px 490px #fff, 56px 983px #fff, 1607px 62px #fff, 1253px 1778px #fff, 1782px 1189px #fff, 1208px 1405px #fff, 1452px 830px #fff, 1079px 754px #fff, 768px 417px #fff, 712px 1773px #fff, 792px 1708px #fff, 1570px 427px #fff, 1079px 92px #fff, 485px 222px #fff, 1996px 406px #fff, 1723px 761px #fff, 301px 339px #fff, 9px 573px #fff, 882px 1568px #fff, 812px 861px #fff, 761px 539px #fff, 1091px 493px #fff, 820px 831px #fff, 1694px 1810px #fff, 590px 1015px #fff, 472px 977px #fff, 289px 553px #fff, 953px 915px #fff, 1228px 1844px #fff, 533px 62px #fff, 1993px 272px #fff, 1330px 1431px #fff, 1516px 737px #fff, 517px 1832px #fff, 1883px 1766px #fff, 1409px 91px #fff, 1674px 902px #fff, 1547px 281px #fff, 1635px 1824px #fff, 594px 4px #fff, 1086px 647px #fff, 1286px 1395px #fff, 1357px 1801px #fff, 1425px 1141px #fff, 1465px 1011px #fff, 1818px 1610px #fff, 311px 405px #fff, 1570px 1711px #fff, 1802px 104px #fff, 1041px 828px #fff, 883px 1770px #fff, 773px 1732px #fff, 1549px 193px #fff, 1763px 596px #fff, 1185px 1289px #fff, 1014px 840px #fff, 1514px 1154px #fff, 30px 388px #fff, 43px 947px #fff, 1159px 1492px #fff, 1142px 558px #fff, 634px 1397px #fff, 1418px 500px #fff, 297px 1279px #fff, 64px 855px #fff, 1843px 1706px #fff, 1187px 731px #fff, 1847px 1518px #fff, 599px 616px #fff, 598px 959px #fff, 837px 1622px #fff, 1611px 964px #fff, 1433px 865px #fff, 1069px 440px #fff, 274px 743px #fff, 1962px 489px #fff, 915px 920px #fff, 1244px 216px #fff, 393px 104px #fff, 1324px 786px #fff, 1930px 326px #fff, 268px 1011px #fff, 320px 1833px #fff, 72px 700px #fff, 1015px 1578px #fff, 481px 1827px #fff, 1009px 1810px #fff, 205px 1988px #fff, 1118px 730px #fff, 1389px 1034px #fff, 1080px 1013px #fff, 953px 1559px #fff, 1739px 949px #fff, 1210px 1501px #fff, 1414px 799px #fff, 1855px 804px #fff, 580px 1847px #fff, 326px 1286px #fff, 1718px 234px #fff, 1626px 559px #fff, 1018px 580px #fff, 624px 608px #fff, 1773px 8px #fff, 296px 1547px #fff, 621px 39px #fff, 1642px 1074px #fff, 214px 1634px #fff, 1105px 662px #fff, 1595px 655px #fff, 1098px 605px #fff, 1798px 174px #fff, 594px 994px #fff, 222px 967px #fff, 912px 1658px #fff, 1848px 105px #fff, 1213px 819px #fff, 582px 1755px #fff, 1599px 548px #fff, 1px 1974px #fff, 1188px 107px #fff, 1923px 1335px #fff, 841px 1249px #fff, 1880px 1194px #fff, 1948px 1601px #fff, 1578px 1590px #fff, 1020px 1103px #fff, 876px 795px #fff, 1775px 126px #fff, 1645px 1842px #fff, 660px 1969px #fff, 1426px 1761px #fff, 411px 9px #fff, 914px 451px #fff, 933px 1395px #fff, 836px 1024px #fff, 1166px 1905px #fff, 387px 1864px #fff, 1490px 429px #fff, 1042px 1450px #fff, 1454px 1806px #fff, 176px 922px #fff, 482px 1546px #fff, 63px 1643px #fff, 1235px 1975px #fff, 1945px 356px #fff, 1362px 308px #fff, 1875px 1161px #fff, 855px 1425px #fff, 1738px 394px #fff, 1697px 1192px #fff, 405px 1005px #fff, 1979px 1649px #fff, 722px 586px #fff, 651px 1748px #fff, 1949px 1059px #fff, 1678px 178px #fff, 605px 908px #fff, 316px 1974px #fff, 610px 604px #fff, 824px 30px #fff, 286px 602px #fff, 1165px 1397px #fff, 1939px 41px #fff, 1126px 1779px #fff, 1090px 1596px #fff, 804px 1723px #fff, 1882px 1975px #fff, 683px 1907px #fff, 1119px 913px #fff, 163px 1267px #fff, 980px 27px #fff, 931px 1890px #fff, 346px 1857px #fff, 787px 1679px #fff, 1108px 1494px #fff, 1284px 722px #fff, 459px 1707px #fff, 1923px 1345px #fff, 910px 1997px #fff, 484px 826px #fff, 1334px 269px #fff, 1440px 731px #fff, 1203px 1903px #fff, 477px 1906px #fff, 353px 1880px #fff, 1445px 1010px #fff, 166px 1157px #fff, 892px 1104px #fff, 372px 1203px #fff, 706px 1149px #fff, 1472px 1990px #fff, 1494px 697px #fff, 1109px 1722px #fff, 1887px 2px #fff, 784px 294px #fff, 774px 1679px #fff, 900px 1658px #fff, 1768px 1481px #fff, 103px 1034px #fff, 285px 1039px #fff, 344px 39px #fff, 1425px 1513px #fff, 404px 1052px #fff, 1097px 1964px #fff, 267px 985px #fff, 1066px 1417px #fff, 1637px 1423px #fff, 16px 1118px #fff, 1145px 1790px #fff, 821px 1003px #fff, 827px 1111px #fff, 156px 1428px #fff, 842px 1940px #fff, 293px 818px #fff, 670px 465px #fff, 1463px 1231px #fff, 1907px 1862px #fff, 931px 1858px #fff, 796px 954px #fff, 186px 670px #fff, 1679px 1054px #fff, 439px 424px #fff, 351px 1070px #fff, 1791px 1569px #fff, 1305px 628px #fff, 1311px 499px #fff, 1428px 125px #fff, 863px 1998px #fff, 1753px 1680px #fff, 1667px 56px #fff, 1340px 392px #fff, 967px 1461px #fff, 595px 1767px #fff, 644px 662px #fff, 980px 796px #fff, 1038px 25px #fff, 1696px 1144px #fff, 20px 1156px #fff, 560px 215px #fff, 747px 841px #fff, 1977px 1549px #fff, 939px 1708px #fff, 136px 1616px #fff, 1832px 1666px #fff, 816px 1433px #fff, 143px 1505px #fff, 1467px 505px #fff, 1301px 1371px #fff, 23px 1340px #fff, 1605px 577px #fff, 972px 931px #fff, 1245px 1272px #fff, 1374px 1963px #fff, 1821px 731px #fff, 1086px 1669px #fff, 1021px 1135px #fff, 776px 1867px #fff, 739px 538px #fff, 2px 1613px #fff, 663px 102px #fff, 363px 1563px #fff, 1370px 542px #fff, 1053px 168px #fff, 1279px 1063px #fff, 995px 1427px #fff, 1060px 1594px #fff, 193px 249px #fff, 577px 1969px #fff, 877px 594px #fff, 268px 258px #fff, 356px 992px #fff, 1595px 20px #fff, 155px 1662px #fff, 806px 1238px #fff, 1692px 640px #fff, 535px 1140px #fff, 677px 1608px #fff, 560px 266px #fff, 292px 487px #fff, 1431px 684px #fff, 1066px 175px #fff, 161px 935px #fff, 1696px 1564px #fff, 1627px 1707px #fff, 740px 872px #fff, 1118px 105px #fff, 1761px 55px #fff, 804px 31px #fff, 1295px 127px #fff, 1118px 751px #fff, 963px 281px #fff, 1050px 1465px #fff, 806px 678px #fff, 1935px 701px #fff, 948px 1457px #fff, 428px 1274px #fff, 1863px 503px #fff, 1315px 630px #fff, 1979px 1492px #fff, 1488px 680px #fff, 600px 1439px #fff, 776px 691px #fff, 1310px 972px #fff, 269px 1374px #fff, 1150px 815px #fff, 902px 1043px #fff, 683px 275px #fff, 1750px 1331px #fff, 418px 1345px #fff, 1748px 1880px #fff, 4px 1579px #fff, 165px 120px #fff, 1584px 629px #fff, 1666px 1071px #fff, 563px 978px #fff, 853px 550px #fff, 166px 78px #fff, 288px 22px #fff, 1382px 1294px #fff, 1724px 1196px #fff, 1804px 505px #fff, 1430px 1374px #fff, 780px 1413px #fff, 1817px 1408px #fff, 1817px 911px #fff, 1453px 165px #fff, 1164px 1758px #fff, 951px 1221px #fff, 1488px 322px #fff, 1883px 1174px #fff, 373px 872px #fff, 1248px 1529px #fff, 1109px 85px #fff, 375px 1702px #fff, 1766px 1007px #fff, 727px 1860px #fff, 909px 305px #fff, 559px 705px #fff, 1398px 1763px #fff, 1454px 664px #fff, 274px 348px #fff, 426px 907px #fff, 374px 1371px #fff, 1807px 987px #fff, 1707px 1719px #fff, 1078px 119px #fff, 1966px 1026px #fff, 1605px 293px #fff, 1492px 1576px #fff, 165px 1587px #fff, 1239px 48px #fff, 1071px 683px #fff, 1065px 1137px #fff, 542px 222px #fff, 1004px 511px #fff, 23px 771px #fff, 291px 896px #fff, 1931px 1847px #fff, 690px 1220px #fff, 856px 1353px #fff, 848px 1075px #fff, 708px 1305px #fff, 1099px 208px #fff, 518px 1103px #fff, 979px 1020px #fff, 1353px 456px #fff, 1537px 1486px #fff, 664px 709px #fff, 1801px 1238px #fff, 935px 1580px #fff, 260px 1881px #fff, 489px 206px #fff, 1618px 122px #fff, 1787px 131px #fff, 615px 935px #fff, 175px 759px #fff, 522px 420px #fff, 1293px 302px #fff, 642px 1985px #fff, 803px 137px #fff, 174px 1664px #fff, 311px 475px #fff, 830px 668px #fff, 498px 1187px #fff, 1350px 103px #fff, 958px 35px #fff, 1765px 1865px #fff, 1176px 541px #fff, 1341px 165px #fff, 1236px 1173px #fff, 744px 1387px #fff, 1814px 316px #fff, 1934px 1179px #fff, 369px 861px #fff, 881px 105px #fff, 1850px 1648px #fff, 1812px 1884px #fff, 624px 1508px #fff, 1137px 1681px #fff, 728px 1404px #fff, 960px 1402px #fff, 898px 1142px #fff, 1562px 917px #fff, 1646px 1534px #fff, 1144px 1210px #fff, 620px 662px #fff, 1304px 1576px #fff, 403px 1231px #fff, 1315px 878px #fff, 1687px 1922px #fff, 182px 756px #fff, 379px 753px #fff, 1258px 1081px #fff, 172px 208px #fff, 598px 856px #fff, 1269px 369px #fff, 912px 1743px #fff, 110px 48px #fff, 287px 1084px #fff, 1246px 1716px #fff, 536px 1697px #fff, 478px 231px #fff, 1859px 499px #fff, 1803px 863px #fff, 1507px 1723px #fff, 1514px 1485px #fff, 1113px 581px #fff, 1201px 1240px #fff, 1194px 581px #fff, 242px 685px #fff, 1148px 862px #fff, 1156px 1069px #fff, 1903px 1232px #fff, 178px 1125px #fff, 430px 1241px #fff, 1092px 219px #fff, 495px 664px #fff, 1825px 225px #fff, 1744px 1371px #fff, 1818px 1312px #fff, 458px 1223px #fff, 1940px 515px #fff, 1739px 1087px #fff, 1035px 1616px #fff, 1563px 1966px #fff, 725px 814px #fff, 711px 1923px #fff, 1914px 882px #fff, 1312px 1810px #fff, 322px 1664px #fff, 267px 243px #fff, 362px 771px #fff, 922px 1423px #fff, 297px 1400px #fff, 91px 105px #fff, 1998px 1287px #fff, 317px 1459px #fff, 1065px 1153px #fff, 1049px 1689px #fff, 1151px 1183px #fff, 855px 60px #fff, 500px 1173px #fff, 155px 238px #fff, 391px 1880px #fff, 1568px 1465px #fff, 1659px 174px #fff, 863px 548px #fff, 155px 1825px #fff, 1146px 1305px #fff, 589px 1012px #fff, 271px 1212px #fff, 1882px 339px #fff, 1385px 827px #fff, 1560px 109px #fff, 1832px 458px #fff, 800px 363px #fff, 1267px 1961px #fff, 468px 1820px #fff, 136px 998px #fff, 1531px 1692px #fff, 1512px 681px #fff, 1160px 437px #fff, 146px 1047px #fff, 297px 33px #fff, 1002px 873px #fff, 1696px 1044px #fff, 558px 626px #fff, 877px 1845px #fff, 1048px 1006px #fff, 196px 1929px #fff, 422px 1115px #fff, 1269px 82px #fff, 581px 1927px #fff, 631px 1470px #fff, 1668px 1572px #fff, 1349px 481px #fff, 1138px 1376px #fff, 189px 1125px #fff, 1662px 565px #fff, 1670px 597px #fff, 890px 835px #fff, 1562px 1131px #fff, 129px 604px #fff, 1548px 1694px #fff, 51px 824px #fff, 1485px 1643px #fff, 1206px 1579px #fff, 1399px 1678px #fff, 1802px 1794px #fff, 761px 185px #fff, 1922px 1512px #fff, 1381px 813px #fff, 444px 898px #fff, 1551px 1067px #fff, 963px 48px #fff, 1470px 1453px #fff, 908px 746px #fff, 793px 1408px #fff, 581px 1344px #fff, 218px 199px #fff, 427px 1602px #fff, 1200px 681px #fff, 479px 332px #fff, 1163px 917px #fff, 322px 633px #fff, 1501px 1858px #fff, 1920px 1411px #fff, 589px 1082px #fff, 1962px 628px #fff, 439px 1943px #fff, 1950px 1988px #fff, 939px 767px #fff, 664px 782px #fff, 1860px 765px #fff, 578px 274px #fff, 1524px 1370px #fff, 613px 403px #fff, 650px 87px #fff, 418px 282px #fff, 469px 619px #fff, 1566px 404px #fff, 1618px 1989px #fff, 254px 1800px #fff, 1196px 613px #fff, 1124px 1190px #fff, 894px 1167px #fff, 229px 1117px #fff, 820px 251px #fff, 714px 711px #fff, 729px 486px #fff, 963px 1547px #fff, 1301px 1683px #fff, 1865px 117px #fff, 1470px 539px #fff, 355px 1483px #fff, 1399px 750px #fff, 1700px 1305px #fff, 1082px 515px #fff, 347px 700px #fff, 1259px 1382px #fff, 10px 377px #fff, 1226px 1688px #fff, 1249px 196px #fff, 1955px 1868px #fff, 1107px 1742px #fff, 1466px 9px #fff, 1880px 1673px #fff, 552px 1982px #fff, 457px 1510px #fff, 654px 899px #fff, 899px 290px #fff, 947px 603px #fff, 402px 85px #fff, 161px 252px #fff, 1961px 1050px #fff, 978px 1384px #fff, 1420px 1500px #fff, 561px 1514px #fff, 1214px 82px #fff, 1658px 61px #fff, 1551px 1390px #fff, 611px 393px #fff, 1223px 1674px #fff, 1661px 886px #fff, 1255px 1731px #fff, 1886px 631px #fff, 1456px 778px #fff, 1448px 1796px #fff, 520px 1034px #fff, 617px 838px #fff, 95px 313px #fff, 1694px 1427px #fff, 1946px 1104px #fff, 1865px 586px #fff, 1575px 197px #fff, 1669px 496px #fff, 1552px 1419px #fff, 1571px 309px #fff, 661px 746px #fff, 645px 308px #fff, 1881px 1852px #fff, 949px 263px #fff, 1319px 1266px #fff, 1037px 535px #fff, 1616px 1913px #fff, 1500px 598px #fff;
  animation: stars 10s infinite;
  opacity: 0.75;
  transform: translateZ(0);
}
.scene .trees svg {
  position: absolute;
  bottom: -10px;
  width: 390px;
  height: 80px;
  z-index: 10;
}
.scene path.svg-mountain-1 {
  transition: fill 3s ease;
  transition-delay: 0.5s;
}
.scene path.svg-mountain-2 {
  transition: fill 2.5s ease;
  transition-delay: 0.4s;
}
.scene path.svg-mountain-3 {
  transition: fill 2s ease;
  transition-delay: 0.3s;
}
.scene path.svg-mountain-4 {
  transition: fill 1.5s ease;
  transition-delay: 0.2s;
}
.scene path.svg-mountain-5 {
  transition: fill 1s ease;
  transition-delay: 0.1s;
}
.scene path.svg-trees {
  transition: fill 3.5s ease;
  transition-delay: 0.6s;
}

.time-dawn .fog {
  background: url("../../images/fog-night.png") center center repeat-x;
  background-size: cover;
}
.time-dawn .thunderstorm-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
.time-dawn .sky {
  background: linear-gradient(to bottom, #28333e 0%, #6e5b5a 100%);
}
.time-dawn .snow-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
}
.time-dawn .snow-wrapper .snowflake {
  color: #3e393d;
}
.time-dawn .sun-wrapper {
  top: calc(50% + 160px);
}
.time-dawn .sun-wrapper .sun-glow {
  box-shadow: 0px -70px 225px rgba(255, 255, 235, 0.95);
}
.time-dawn path.svg-mountain-1 {
  fill: #11161b !important;
}
.time-dawn path.svg-mountain-2 {
  fill: #1a2129 !important;
}
.time-dawn path.svg-mountain-3 {
  fill: #26323c !important;
}
.time-dawn path.svg-mountain-4 {
  fill: #2d3845 !important;
}
.time-dawn path.svg-mountain-5 {
  fill: #3a4552 !important;
}
.time-dawn path.svg-trees {
  fill: #000000 !important;
}
.time-dawn .weather-data {
  color: #FFF;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
.time-dawn .cloud path {
  fill: #2f2b2c;
}

.time-early-morning .fog {
  background: url("../../images/fog-night.png") center center repeat-x;
  background-size: cover;
}
.time-early-morning .thunderstorm-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
.time-early-morning .sun-wrapper {
  display: none;
}
.time-early-morning .sky {
  background: linear-gradient(to bottom, #7f605b 0%, #ad7e6c 100%);
}
.time-early-morning .snow-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
}
.time-early-morning .snow-wrapper .snowflake {
  color: #75574d;
}
.time-early-morning path.svg-trees {
  fill: #070b0b !important;
}
.time-early-morning path.svg-mountain-1 {
  fill: #332727 !important;
}
.time-early-morning path.svg-mountain-2 {
  fill: #4e4446 !important;
}
.time-early-morning path.svg-mountain-3 {
  fill: #584b4b !important;
}
.time-early-morning path.svg-mountain-4 {
  fill: #6b5656 !important;
}
.time-early-morning path.svg-mountain-5 {
  fill: #645456 !important;
}
.time-early-morning .weather-data {
  color: #FFF;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
.time-early-morning .cloud path {
  fill: #795c4f;
}

.time-morning .sky {
  background: linear-gradient(to bottom, #82959e 0%, #fffcea 100%);
}
.time-morning .moon-wrapper {
  display: none;
}
.time-morning .starry-sky {
  opacity: 0.5;
}
.time-morning .sun-wrapper .sun {
  background: #fff9d3;
}
.time-morning .sun-wrapper .sun-glow {
  box-shadow: none;
}
.time-morning path.svg-trees {
  fill: #0b1819 !important;
}
.time-morning path.svg-mountain-1 {
  fill: #1e3f45 !important;
}
.time-morning path.svg-mountain-2 {
  fill: #54757d !important;
}
.time-morning path.svg-mountain-3 {
  fill: #6f8893 !important;
}
.time-morning path.svg-mountain-4 {
  fill: #788e96 !important;
}
.time-morning path.svg-mountain-5 {
  fill: #899aa2 !important;
}
.time-morning .weather-data {
  color: #0b1819;
  text-shadow: none;
}
.time-morning .cloud path {
  fill: #f0f6f9;
}
.time-morning.thunderstorm .weather-data {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.time-mid-morning .moon-wrapper {
  z-index: 0;
}
.time-mid-morning .sky {
  background: linear-gradient(to bottom, #9fc6d9 0%, #fff5e4 100%);
}
.time-mid-morning .starry-sky {
  display: none;
}
.time-mid-morning .moon-wrapper {
  display: none;
}
.time-mid-morning .sun-wrapper .sun {
  background: #f2ffff;
}
.time-mid-morning .sun-wrapper .sun-glow {
  box-shadow: 0 0 100px #fcffdc;
}
.time-mid-morning path.svg-trees {
  fill: #17363a !important;
}
.time-mid-morning path.svg-mountain-1 {
  fill: #22525f !important;
}
.time-mid-morning path.svg-mountain-2 {
  fill: #558d9d !important;
}
.time-mid-morning path.svg-mountain-3 {
  fill: #6fa1b7 !important;
}
.time-mid-morning path.svg-mountain-4 {
  fill: #7aaac2 !important;
}
.time-mid-morning path.svg-mountain-5 {
  fill: #94bed2 !important;
}
.time-mid-morning .weather-data {
  color: #17363a;
  text-shadow: none;
}
.time-mid-morning .cloud path {
  fill: #f5fcff;
}
.time-mid-morning.thunderstorm .weather-data {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.time-noon .sky {
  background: linear-gradient(to bottom, #abcbb7 0%, #f4fbf1 100%);
}
.time-noon .starry-sky {
  display: none;
}
.time-noon .moon-wrapper {
  display: none;
}
.time-noon .sun-wrapper .sun {
  background: #feffbc;
}
.time-noon .sun-wrapper .sun-glow {
  box-shadow: 0 0 100px #fcffdc;
}
.time-noon path.svg-mountain-1 {
  fill: #2a5855 !important;
}
.time-noon path.svg-mountain-2 {
  fill: #588d81 !important;
}
.time-noon path.svg-mountain-3 {
  fill: #73a398 !important;
}
.time-noon path.svg-mountain-4 {
  fill: #7fada3 !important;
}
.time-noon path.svg-mountain-5 {
  fill: #8eb8ab !important;
}
.time-noon path.svg-trees {
  fill: #1c3a34 !important;
}
.time-noon .weather-data {
  color: #2a5855;
  text-shadow: none;
}
.time-noon .cloud path {
  fill: #fafffc;
}
.time-noon.thunderstorm .weather-data {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.time-afternoon .moon-wrapper {
  display: none;
}
.time-afternoon .sky {
  background: linear-gradient(to bottom, #ada587 0%, #FFFFFF 100%);
}
.time-afternoon .starry-sky {
  display: none;
}
.time-afternoon .sun-wrapper .sun {
  background: #ffffc3;
}
.time-afternoon .sun-wrapper .sun-glow {
  box-shadow: 0 0 100px #FFFFFF;
}
.time-afternoon path.svg-mountain-1 {
  fill: #1f3934 !important;
}
.time-afternoon path.svg-mountain-2 {
  fill: #5e6d5e !important;
}
.time-afternoon path.svg-mountain-3 {
  fill: #878672 !important;
}
.time-afternoon path.svg-mountain-4 {
  fill: #a29b7c !important;
}
.time-afternoon path.svg-mountain-5 {
  fill: #bcad88 !important;
}
.time-afternoon path.svg-trees {
  fill: #132520 !important;
}
.time-afternoon .weather-data {
  color: #1f3934;
  text-shadow: none;
}
.time-afternoon .cloud path {
  fill: #ffffff;
}
.time-afternoon.thunderstorm .weather-data {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.time-evening .fog {
  background: url("../../images/fog-night.png") center center repeat-x;
  background-size: cover;
}
.time-evening .moon-wrapper {
  display: none;
}
.time-evening .thunderstorm-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
.time-evening .sky {
  background: linear-gradient(to bottom, #9d7c64 0%, #ffffff 100%);
}
.time-evening .snow-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
}
.time-evening .snow-wrapper .snowflake {
  color: #574843;
}
.time-evening .starry-sky {
  opacity: 0.5;
}
.time-evening .sun-wrapper .sun {
  background: #ffefa2;
}
.time-evening .sun-wrapper .sun-glow {
  box-shadow: 0 0 100px rgba(255, 177, 0, 0.65);
}
.time-evening path.svg-mountain-1 {
  fill: #342b28 !important;
}
.time-evening path.svg-mountain-2 {
  fill: #574843 !important;
}
.time-evening path.svg-mountain-3 {
  fill: #7f6555 !important;
}
.time-evening path.svg-mountain-4 {
  fill: #91705a !important;
}
.time-evening path.svg-mountain-5 {
  fill: #a78267 !important;
}
.time-evening path.svg-trees {
  fill: #141914 !important;
}
.time-evening .weather-data {
  color: #342b28;
  text-shadow: none;
}
.time-evening .cloud path {
  fill: #fffefc;
}
.time-evening.thunderstorm .weather-data {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.time-dusk .fog {
  background: url("../../images/fog-night.png") center center repeat-x;
  background-size: cover;
}
.time-dusk .moon-wrapper {
  display: none;
}
.time-dusk .thunderstorm-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
.time-dusk .sky {
  background: linear-gradient(to bottom, #6a4d47 0%, #ffffd6 100%);
}
.time-dusk .snow-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
}
.time-dusk .snow-wrapper .snowflake {
  color: #6a4d47;
}
.time-dusk .sun-wrapper .sun {
  background: #ffffd6;
}
.time-dusk .sun-wrapper .sun-glow {
  box-shadow: 0 0 60px rgba(255, 224, 0, 0.45);
}
.time-dusk path.svg-mountain-1 {
  fill: #3c231e !important;
}
.time-dusk path.svg-mountain-2 {
  fill: #6a4d47 !important;
}
.time-dusk path.svg-mountain-3 {
  fill: #7b5852 !important;
}
.time-dusk path.svg-mountain-4 {
  fill: #936861 !important;
}
.time-dusk path.svg-mountain-5 {
  fill: #b57b6b !important;
}
.time-dusk path.svg-trees {
  fill: #080908 !important;
}
.time-dusk .weather-data {
  color: #3c231e;
  text-shadow: none;
}
.time-dusk .cloud path {
  fill: #c1b49d;
}
.time-dusk.thunderstorm .weather-data {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.time-night .fog {
  background: url("../../images/fog-night.png") center center repeat-x;
  background-size: cover;
}
.time-night .sun-wrapper {
  display: none;
}
.time-night .thunderstorm-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
.time-night .sky {
  background: linear-gradient(to bottom, #3d3942 0%, #765e5e 100%);
}
.time-night .snow-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
}
.time-night .snow-wrapper .snowflake {
  color: #1d1d27;
}
.time-night .sun-wrapper {
  z-index: 0;
}
.time-night path.svg-mountain-1 {
  fill: #11171d !important;
}
.time-night path.svg-mountain-2 {
  fill: #1d1d27 !important;
}
.time-night path.svg-mountain-3 {
  fill: #2e313c !important;
}
.time-night path.svg-mountain-4 {
  fill: #464755 !important;
}
.time-night path.svg-mountain-5 {
  fill: #555564 !important;
}
.time-night path.svg-trees {
  fill: #04080b !important;
}
.time-night .weather-data {
  color: #FFF;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
.time-night .cloud path {
  fill: #343438;
}

.time-midnight .fog {
  background: url("../../images/fog-night.png") center center repeat-x;
  background-size: cover;
}
.time-midnight .thunderstorm-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
}
.time-midnight .sun-wrapper {
  display: none;
}
.time-midnight .sky {
  background: linear-gradient(to bottom, #2a3641 0%, #535f6a 100%);
}
.time-midnight .snow-wrapper {
  background-color: rgba(255, 255, 255, 0.15);
}
.time-midnight .snow-wrapper .snowflake {
  color: #2f3b48;
}
.time-midnight path.svg-mountain-1 {
  fill: #171e24 !important;
}
.time-midnight path.svg-mountain-2 {
  fill: #25313b !important;
}
.time-midnight path.svg-mountain-3 {
  fill: #27343f !important;
}
.time-midnight path.svg-mountain-4 {
  fill: #2f3c48 !important;
}
.time-midnight path.svg-mountain-5 {
  fill: #3d4a56 !important;
}
.time-midnight path.svg-trees {
  fill: #03090b !important;
}
.time-midnight .weather-data {
  color: #FFF;
  text-shadow: 0 0 8px #03090b;
}
.time-midnight .cloud path {
  fill: #2a323a;
}

.random-wrapper .bat {
  position: absolute;
  top: 150px;
  width: 50px;
  height: 50px;
  display: block;
  background: url("../../images/bat.gif") center center no-repeat;
  background-size: contain;
  z-index: 90;
  animation: flying-bat 3s linear;
  transform: translate3d(-100px, 0, 0);
  animation-iteration-count: 1;
  backface-visibility: hidden;
  will-change: transform;
}

@keyframes flying-bat {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(300px, 100px, 0);
  }
}
.random-wrapper .bird {
  position: absolute;
  top: 300px;
  width: 50px;
  height: 50px;
  display: block;
  background: url("../../images/bird.gif") center center no-repeat;
  background-size: contain;
  z-index: 90;
  animation: flying-bird 3s linear;
  transform: translate3d(-100px, 0, 0);
  animation-iteration-count: 1;
  backface-visibility: hidden;
  will-change: transform;
}

@keyframes flying-bird {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(300px, -100px, 0);
  }
}
.random-wrapper .girl-balloon {
  position: absolute;
  bottom: -200px;
  left: -50px;
  width: 200px;
  height: 200px;
  display: block;
  background: url("../../images/girl-balloon.png") center center no-repeat;
  background-size: contain;
  z-index: 90;
  animation: girl-balloon 12s ease-out;
  animation-iteration-count: 1;
  transform: translateZ(0) rotate(0deg);
  backface-visibility: hidden;
  will-change: transform;
}

@keyframes girl-balloon {
  0% {
    bottom: -200px;
    left: -50px;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    bottom: 500px;
    left: 100px;
    transform: rotate(-10deg);
  }
}
.random-wrapper .hot-air-balloon {
  position: absolute;
  bottom: 20px;
  width: 100px;
  height: 100px;
  display: block;
  background: url("../../images/hot-air-balloon.png") center center no-repeat;
  background-size: contain;
  z-index: 90;
  animation: hot-air-balloon 15s linear;
  transform: translate3d(-100px, 0, 0);
  animation-iteration-count: 1;
  backface-visibility: hidden;
  will-change: transform;
}
.random-wrapper .hot-air-balloon.night {
  background: url("../../images/hot-air-balloon-night.png") center center no-repeat;
  background-size: contain;
}

@keyframes hot-air-balloon {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(300px, -100px, 0);
  }
}
.random-wrapper .tardis {
  position: absolute;
  top: 200px;
  width: 100px;
  height: 100px;
  display: block;
  background: url("../../images/tardis.gif") center center no-repeat;
  background-size: contain;
  z-index: 90;
  animation: flying-tardis 6s linear;
  transform: translate3d(-100px, 0, 0);
  animation-iteration-count: 1;
  backface-visibility: hidden;
  will-change: transform;
}

@keyframes flying-tardis {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(300px, -200px, 0);
  }
}
.clouds .cloud {
  position: absolute;
  left: 0;
  z-index: 24;
  transform: translate3d(-100%, 0, 0);
  will-change: transform;
}
.clouds .cloud path {
  transition: fill 0.25s ease;
}
.clouds .cloud-1 {
  top: 50px;
  width: 200px;
  height: 100px;
  opacity: 0.7;
  z-index: 25;
}
.clouds .cloud-2 {
  top: 100px;
  width: 300px;
  height: 200px;
  opacity: 0.7;
  z-index: 26;
}
.clouds .cloud-3 {
  top: 0;
  width: 200px;
  height: 100px;
  opacity: 0.6;
  z-index: 27;
}
.clouds .cloud-4 {
  top: 0;
  width: 200px;
  height: 100px;
  opacity: 0.5;
  z-index: 28;
}
.clouds .cloud-5 {
  top: -50px;
  width: 400px;
  height: 300px;
  opacity: 0.4;
  z-index: 29;
}

.fog {
  background: url("../../images/fog.png") center center repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 175px;
  background-size: cover;
  z-index: 25;
  transition: all 1s ease;
  animation: move-fog 120s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform;
}

.lightning-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
}
.lightning-wrapper .lightning {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
}

.moon-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 50px);
  transition: all 2s ease;
  z-index: 5;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  mix-blend-mode: luminosity;
}
.moon-wrapper .moon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}

.rain-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  height: 480px;
  width: 400px;
}
.rain-wrapper .rain {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 480px;
  z-index: 15;
  transform: translate3d(0, 0, 0);
}
.rain-wrapper .rain.back-row {
  z-index: 15;
  opacity: 0.35;
}
.rain-wrapper .stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}
.rain-wrapper .drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

.snow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.sun-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 50px);
  transition: all 2s ease;
}
.sun-wrapper .sun {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFF;
  overflow: hidden;
  z-index: 5;
  transition: background-color 2s ease;
}
.sun-wrapper .sun-glow {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 5;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.85);
  transition: box-shadow 2s ease;
}

.thunderstorm .thunderstorm-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5));
}
.thunderstorm .clouds {
  display: block;
}
.thunderstorm .clouds .cloud {
  opacity: 0.6;
}
.thunderstorm .clouds .cloud path {
  fill: #000;
}
.thunderstorm .clouds .cloud-1 {
  top: -50px;
  width: 600px;
  height: 400px;
  animation: move-thunderstorm 1000s linear infinite;
  animation-delay: -300s;
}
.thunderstorm .clouds .cloud-2 {
  top: 75px;
  width: 600px;
  height: 400px;
  animation: move-thunderstorm 300s linear infinite;
  animation-delay: -50s;
}
.thunderstorm .clouds .cloud-3 {
  top: 50px;
  width: 400px;
  height: 300px;
  animation: move-thunderstorm 500s linear infinite;
  animation-delay: 250s;
}
.thunderstorm .clouds .cloud-4 {
  top: -200px;
  width: 400px;
  height: 300px;
  animation: move-thunderstorm 700s linear infinite;
  animation-delay: -250s;
}
.thunderstorm .clouds .cloud-5 {
  top: -200px;
  width: 800px;
  height: 300px;
  animation: move-thunderstorm 900s linear infinite;
  animation-delay: -450s;
}

.weather-data .main-weather {
  font-family: "Helvetica", sans-serif;
  width: 100%;
  margin-top: 66px;
  transition: color 0.5s ease;
  height: 100px;
}
.weather-data .main-weather .left, .weather-data .main-weather .right {
  float: left;
  visibility: visible;
}
.weather-data .main-weather .left {
  width: 58%;
}
.weather-data .main-weather .right {
  width: 42%;
}
.weather-data .main-weather .current-temp {
  font-size: 72px;
  font-weight: 300;
  text-align: center;
  line-height: 56px;
  margin-bottom: 10px;
}
.weather-data .main-weather .current-temp .degree {
  opacity: 0.33;
}
.weather-data .main-weather .feels-like-temp {
  text-align: center;
  text-indent: -14px;
  opacity: 0.9;
  letter-spacing: 0.5px;
}
.weather-data .main-weather .current-measure {
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  position: relative;
}
.weather-data .main-weather .current-measure span.direction {
  position: absolute;
  top: 19px;
  left: 39px;
  font-size: 10px;
  opacity: 0.5;
}
.weather-data .main-weather .current-measure i.wi {
  width: 26px;
  text-align: center;
  font-size: 18px;
  margin-right: 8px;
  line-height: 18px;
}
.weather-data .main-weather .current-measure i.wi.wi-raindrops {
  font-size: 34px;
  position: relative;
  top: 9px;
  line-height: 0;
  left: -2px;
}

.weather-data .current-conditions {
  height: 90px;
  margin-top: 50px;
  transition: color 0.5s ease;
}
.weather-data .current-conditions .left, .weather-data .current-conditions .right {
  float: left;
}
.weather-data .current-conditions .left {
  width: 120px;
  font-size: 60px;
  text-align: center;
  line-height: 60px;
}
.weather-data .current-conditions .right {
  width: calc(100% - 120px);
  padding-right: 10px;
}
.weather-data .current-conditions .right h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 0.75px;
  opacity: 0.65;
}
.weather-data .current-conditions .right h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 28px;
  margin-top: 4px;
  font-size: 22px;
  letter-spacing: 1px;
}

.tab-set {
  width: 100%;
  height: 40px;
}
.tab-set .tab {
  width: 33.3333333333%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.tab-set .tab.selected {
  border-bottom: 3px solid rgba(0, 0, 0, 0.75);
  cursor: default;
  font-weight: 600;
}

.forecast {
  width: 100%;
}
.forecast .forecast-day {
  text-align: center;
  font-size: 14px;
  color: #FFF;
  font-weight: 300;
}
.forecast .forecast-day .date {
  text-transform: uppercase;
  margin-top: 16px;
  font-size: 16px;
}
.forecast .forecast-day .date span {
  opacity: 0.5;
}
.forecast .forecast-day .icon {
  font-size: 28px;
  height: 50px;
  line-height: 50px;
}
.forecast .forecast-day .high-low {
  margin-bottom: 8px;
}
.forecast .forecast-day .high-low span {
  margin: 0 4px;
  opacity: 0.5;
}
.forecast .forecast-day .percent-rain i.wi {
  font-size: 36px;
  line-height: 0;
  position: relative;
  top: 8px;
  margin-right: 4px;
}

.swiper {
  overflow: visible;
}

.swiper-pagination {
  bottom: 4px !important;
  z-index: 500;
}
.swiper-pagination .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.25) !important;
  transition: background 0.25s;
  opacity: 1;
  width: 6px;
  height: 6px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.75) !important;
  opacity: 1;
}

.weather-data {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
}
.weather-data .weather-overview {
  height: 115px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
